p Hello,

p
  | #{@user.full_name} has reported an issue on
  =>< link_to @report.page, @report.page, target: "_blank"
  | as below:
p
  b
    | Type:
  =< @report.bug_type
p
  b Subject:
  =< @report.subject
p
  b Description:
  p= simple_format(@report.description)
br
p Best regards,
