- redirect_url = Rails.application.config.client_url + '/signin'
- first_name = @resource.first_name
- last_name = @resource.last_name
- confirm_email_url = confirmation_url(@resource, confirmation_token: @token, redirect_url: redirect_url)
- discord_server_url = "https://discord.io/OdinPoker"
- @local_variables = { confirm_email_url: confirm_email_url,discord_server_url: discord_server_url, first_name: first_name, last_name: last_name }
= raw I18n.t("devise.mailer.confirmation_instructions.body", @local_variables)
