- redirect_url = Rails.application.config.client_url + '/setup-account'
- setup_account_url = accept_invitation_url(@resource, invitation_token: @token, redirect_url: redirect_url)
- first_name = @resource.first_name
- last_name = @resource.last_name
- email = @resource.email
- discord_server_url = "https://discord.io/OdinPoker"
- due_date = l(@resource.invitation_due_at, format: '%B %d, %Y %I:%M %p')
- @local_variables = { setup_account_url: setup_account_url, discord_server_url: discord_server_url, first_name: first_name, last_name: last_name, email: email, due_date: due_date }
- content_email = @not_subscription ? I18n.t("devise.mailer.invitation_instructions.body", @local_variables) : I18n.t("devise.mailer.subscribed_invitation_instructions.body", @local_variables)
= raw content_email