- reset_password_link = edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s)
- first_name = @resource.first_name
- last_name = @resource.last_name
- discord_server_url = "https://discord.io/OdinPoker"
- @local_variables = { reset_password_link: reset_password_link, discord_server_url: discord_server_url, first_name: first_name, last_name: last_name }
= raw I18n.t("devise.mailer.reset_password_instructions.body", @local_variables)
