doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    css:
      .body { margin: 40px 0; }
      .body, .mail-header, .mail-body, .mail-footer { background-color: #1E1E31; }
      .mail-header img { width: 100%; }
      .mail-footer img { width: 100%; }
      .mail-body { color: #FFFFFF; }
      .body { max-width: 580px; margin: 0 auto; }
      .mail-body { padding: 0 40px; font-size: 14px; min-height: 440px; }
  body
    table.body
      tr
        td.mail-header
          = email_image_tag("email/email_header.png")
      tr
        td
          .mail-body
            =yield
      tr
        td.mail-footer
          = email_image_tag("email/email_footer.png")
